@use "../../variables" as *;

.footer {
  text-align: center;
  .footer-body {
    background-color: $white;
    .footer-img {
      width: 150px;
      margin: 52px 0 20px;
      @media screen and (max-width: $breakpoint-md) {
        margin-top: 32px;
      }
    }
    .information {
      font-size: $fontsize-s;
      line-height: 2;
      .icons {
        padding: 0;
        display: flex;
        justify-content: center;
        margin: 20px 0 52px;
        @media screen and (max-width: $breakpoint-md) {
          margin-bottom: 32px;
        }
        .list-item {
          list-style: none;
          margin: 0 7px;
          .footer-icon {
            transition: 0.2s;
            color: $black;
            &:hover {
              color: $gray_nobel;
            }
          }
        }
      }
    }
  }
  .footer-menu {
    background-color: $white_smoke;
    justify-content: center;
    padding: 16px;
    display: flex;
    gap: 8px;
    border-top: 1px solid $gray_nobel;
    border-bottom: 1px solid $gray_nobel;
    .footer-menu-item {
      border-right: 1px solid;
      padding-right: 8px;
      text-decoration: none;
      color: $black;
      &:hover {
        color: $orange_bistre;
        transition: 0.2s ease;
      }
      &:last-child {
        border: 0;
      }
      @media screen and (max-width: $breakpoint-md) {
        border: 0;
        text-align: left;
      }
    }
    @media screen and (max-width: $breakpoint-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .footer-content {
        border: none;
        text-align: left;
        font-size: $fontsize-s;
      }
    }
  }
  .credit {
    font-size: $fontsize-xs;
    color: $white;
    background-color: $black;
    line-height: 1;
    padding: 16px;
  }
}
