@use "../../variables" as *;
@use "../../molecules/message/message.scss" as *;

.about {
  padding: 100px 40px;
  @media (max-width: $breakpoint-lg) {
    padding: 69px 135px 40px;
  }
  .img-table {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (max-width: $breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
    }
    .about-img {
      width: 100%;
    }
  }
  .message {
    background-color: $white_smoke;
    .title {
      color: $orange_bistre;
    }
  }
}
