@use "../../variables" as *;

.news-and-events {
  padding: 54px 0;
  width: 100%;
  background-color: $white_smoke;
  .col {
    padding: 0 20px;
    .news {
      box-sizing: content-box;
      width: 100%;
      @media screen and (max-width: $breakpoint-lg) {
        margin-bottom: 35px;
      }
      article {
        background-color: $white;
      }
    }
    .events {
      margin-bottom: 0;
      .event-list {
        h3 {
          font-weight: 400;
          transition: 0.2s ease;
          &:hover {
            color: $orange_bistre;
          }
        }
      }
    }
  }
}
